@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* blue
#28aeca
#459fe6
#a082de
#e159a6
#ed484f 
red  */

/* GENERAL */
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* background-color: #1d1c1c; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
}

.flexCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flexColCentered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* STRUCTURE */

.menuContainer {
  width: 110px;
  text-align: center;
  background-color: #d9e4f5;
}

.titleIcon {
  width: 40px;
  height: 40px;
}

.title {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.menu {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* padding: 0 0 0 6px; */
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.menu a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
  font-size: 14px;
}

.menuIcon {
  width: 45px;
  height: 45px;
}

.contentContainer {
  margin: auto;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* ADR TABLE */
.tableContainer {
  max-height: 90vh;
  width: 100%;
  overflow-y: auto;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #666666;
}

.tableContainer th {
  padding: 4px 8px;
  border: 1px solid #666666;
  text-align: center;
  box-sizing: border-box;
}

.tableContainer td {
  padding: 4px 8px;
  border: 1px solid #666666;
  text-align: left;
}

.tableContainer thead th {
  position: sticky;
  top: 0;
  z-index: 1; /* Ensures header stays on top */
  background-color: #dadada;
}

tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

/* DASHBOARD */
.dashboardContainer {
  padding: 10px; 
  overflow: hidden; 
}

.dashboard {
  height: 90vh;
  width: 100%;
  max-width: 1400px;
  text-align: center;
  overflow: auto;
}

.viz {
  background-color: #ececec;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
}

.vizTitle {
  font-size: 14px;
  font-weight: 600;
}

.vizPlot {
  position: relative;
}

.shape {
  stroke-width: 1px;
  fill-opacity: 0.4;
}

.hasHighlight .shapeGroup {
  filter: saturate(40%);
  opacity: 0.2;
}

.hasHighlight .shapeGroup:hover {
    filter: saturate(100%);
    opacity: 1;
}

.area {
  fill-opacity: 0.4;
}

.tooltip {
  width: 85px;
  background: #fff;
  border: 1px solid #f5f5f5;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
  font-size: 11px;
  max-width: 200px;
  padding: 10px;
  position: absolute;
  
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%); 

  /* margin-left: 35px; */
  /* transform: translate(100%, 100%); */
}

.tooltip > p {
  margin: 0;
  padding: 0;
  height: 33%;
  width: 100%;
}

.tooltipTitle {
  font-weight: bold;
}

/* Card Styles */
.card {
  height: 80px;
  width: 160px;
}

.cardValue {
  font-size: 24px;
  font-weight: 500;
  flex-shrink: 1; 
  margin: auto;
  padding: auto;
}

.cardLabel {
  font-size: 12px;
  font-weight: 300;
  flex-shrink: 1; 
  margin: 0;
  padding: 0;
}

/* Shape Styles */
.shapeLabel {
  font-size: 12px;
}

.shapeValue {
  font-size: 10px;
}



/* Radar Animation */
.loading {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.loading > .radar{
  transform: scale(0.25);
}

@keyframes beamInAndOut1 {
  0% {
    opacity: 0;
    transform: translate(-1%, 1%);
  }
  12% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  24% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  37% {
    opacity: 0;
    transform: translate(1%, -1%);
  }
  50% {
    opacity: 0;
    transform: translate(1%, -1%);
  }
  63% {
    opacity: 0;
    transform: translate(1%, -1%);
  }
  76% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  88% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(-1%, 1%);
  }
}

@keyframes beamInAndOut2 {
  0% {
    opacity: 0;
    transform: translate(-1%, 1%);
  }
  12% {
    opacity: 0;
    transform: translate(-1%, 1%);
  }

  24% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  37% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  50% {
    opacity: 0;
    transform: translate(1%, -1%);
  }

  63% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  76% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  88% {
    opacity: 0;
    transform: translate(-1%, 1%);
  }
  100% {
    opacity: 0;
    transform: translate(-1%, 1%);
  }
}

#Wave1 {
  opacity: 0;
  animation: 9s linear infinite alternate beamInAndOut1;
}

#Wave2 {
  opacity: 0;
  animation: 9s linear infinite alternate beamInAndOut2;
}